* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;   
    background-color: aqua;
}

.content {
    background-color: white;
    border-radius: 15px;


}

.first-content {
    display: flex; 
}

.list-social-media{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;




}

.second-content {
    position: absolute;
    display: none;
    background: orangered;
}
